GROQ_API_KEY=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
DATABASE_URL=postgresql://user:password@localhost:5432/griefwallet
JWT_SECRET=griefwallet-super-secret-key-2025
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080